<div class="panel panel-info">
	<div class="panel-heading">
	<h3 class="panel-title pull-left"><% if task.state == "done" %>
	<strike>
	Task
	</strike>
	<% else %>
	Task
	<% end %>
	</h3> 
	<div class="pull-right">
		

		<%= link_to "x", task_path(task), method: :delete, class: "delete_task", data: { confirm: "Are you sure?" } %>
	</div>
	<div class="clearfix"></div>

	</div>
	<div class="panel-body">
		<%= task.content %>
	</div>
	<% unless task.state == "done" %>
	<div class="panel-footer">
	<% case task.state when "to_do" %>
		<%= link_to "Start", doing_task_path(task), method: :put, class: "btn btn-info btn-md btn-block" %>
		<% when "doing" %>
		<%= link_to "Finish", done_task_path(task), method: :put, class: "btn btn-info btn-md btn-block" %>
		<% end %>
	</div>
	<% end %>
</div>


